<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="getTotalCountOfReboard" resultType="int">
		select count(*) from reboard
	</select>
	
	
	<!-- num의 max값,null일 경우 0 -->
	<select id="MaxNumOfReboard" resultType="int">
		select ifnull(max(num),0) from reboard
	</select>
	
	<!-- 같은 group중에서 넘어오는 step보다 큰 step 데이터는 모두 +1 
		 2가지(regroup,restep)가 넘어와야하기 때문에 HashMap 반환값 -->
	<update id="UpdateStepOfReBoard" parameterType="HashMap">
		update reboard set restep=restep+1 where regroup=#{regroup} and restep>#{restep}
	</update>
	
	<!-- insert: 원글, 답글 모두 해당 -->
	<insert id="insertOfReboard" parameterType="bdto">
		insert into reboard (writer,pass,subject,content,photo,regroup,restep,relevel,writeday)
		values(#{writer},#{pass},#{subject},#{content},#{photo},#{regroup},#{restep},#{relevel},now())
	</insert>
	
	<!-- paging처리 전체 리스트(전체 조회+페이징)
		 처리 해줄 변수가 2가지(startNum,perPage)로 파라메터 값에 HashMap
		 
		 regroup은 내림차순(최신이 제일 위) restep은 오름차순 -->
	<select id="SelectPagingOfReboard" resultType="bdto" parameterType="HashMap">
		select * from reboard order by regroup desc,restep asc limit #{start},#{perpage}
	</select>
	
	<!-- 1개의 dto값 얻기 -->
	<select id="getDataOfReboard" parameterType="int" resultType="bdto">
		select * from reboard where num=#{num}
	</select>
	
	<!-- readcount 증가
		 sql문에서만 인자값이나 결과값으로 넘어가는데 2가지 이상일 경우 Map 사용 -->
	<update id="UpdateReadCountOfReboard" parameterType="int">
		update reboard set readcount=readcount+1 where num=#{num}
	</update>
	
	<!-- passform -->
	<select id="checkpassEqualOfReboard" parameterType="HashMap" resultType="int">
		select count(*) from reboard where num=#{num} and pass=#{pass}
	</select>
	
	<update id="updateOfReboard" parameterType="bdto">
		update reboard set subject=#{subject},content=#{content}
		<if test="photo!='no'"> <!-- photo!='no' 조건이 no일 경우 / 두가지 경우 모두 no나 null이 아닐경우 즉 사진이 있는 경우만 수정해준다는 조건
									 이렇게 조건 주면 기존 사진을 수정폼에 불러오지 않고 수정을 안해도 기존 사진이 남아있을 수 있다 -->
		,photo=#{photo}
		</if>
		where num=#{num}
	</update>
	
	<delete id="deleteOfReboard" parameterType="int">
		delete from reboard where num=#{num}
	</delete>
</mapper>